*header, main, aside, footer{
overflow:hidden;
}

#cabecario{
background-color:red;
height:100px;
}

#principal{
background-color:blue;
height:500px;
widht:50%;
float:Left;
display:block-inline;
}

#lateral{
background-color:green;
height:500px;
display:block-inline;
float:left;

}

#rodape{
background-color:pink;
clear:both;
}